body {
  background: black;
  color: white;
}

pre code {
  font: 11pt/1.25 Monaco, monospace;
}

.debug {
  color: #FAF9F8;
}

.info {
  color: #12C223;
}

.warn {
  color: #FBBE56;
}

.error {
  color: #B64441;
}